.ant-layout-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 50px;

  .inner-content {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 24px;
    min-height: 280px;
  }
}
