$header-height: 48px;

body .ant-layout-content {
  margin-top: $header-height;
}

.ant-layout-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: $header-height;
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.09);
  z-index: 10;
  line-height: $header-height;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ant-menu.ant-menu-root {
    line-height: $header-height;
    margin-left: auto;
  }

  .ant-menu-item {
    user-select: none;

    .svg-inline--fa {
      margin-right: 5px;
    }
  }
}

@media (max-width: 576px) {
  .ant-layout-header {
    padding: 0 10px;
  }
}
