.button-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .ant-form-item-control-wrapper {
    width: 100%;

    .ant-row {
      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
